.App {
  text-align: center;
}
.root{
  margin: 0;
}
body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #333;

}
header{
  text-align: left;
  height: 50px;
  margin-top: 2rem;
}
header h4{
  padding-left: 10px;
  padding-top: 10px;
}
main{
  align-items: center;
  background-color: white;
  height: 400px;
}
footer{
  text-align: center;
  height: 50px;
  padding-top: 15px;
}
main{
  padding: 3em;
}
header,footer{
  background-color: gray;
}
header,main.footer{
  width: 900px;
}

.btnShow{
  width: 150px;
  height: 150px;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
}
main{
  display: flex;
  text-align: center;
  justify-content: center;
}
.counter{
  height: 40px;
  width: 100px;
  margin-right: 20px;
}

